* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: black;
}

.boton {
    margin: 50px;
    padding: 50px;
    background-color: orangered;
}